<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/expander.js"></script>
    <script src="/javascripts/about-me.js"></script>
</head>
<body>
<div class='wrapper'>
    <%- include('../partials/menu') %>

    <p>
        I love Chevies.
    </p>
    <div class="expander">
        <div class="expander-header">+ Expand</div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/X3OWVhgur9E" frameborder="0" allowfullscreen></iframe>
    </div>

    <%- include('../partials/footer') %>
</div>
</body>
</html>
