<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class='wrapper'>
    <%- include('../partials/menu') %>

    <ul class="services-list">
        <li>
            <h3>Back-end</h3>
            <p>
                .NET, NodeJS, SQL Server, MySQL, MongoDB
            </p>
        </li>
        <li>
            <h3>Front-end</h3>
            <p>
                Javascript, CSS
            </p>
        </li>
    </ul>

    <%- include('../partials/footer') %>
</div>
</body>
</html>
