<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class='wrapper'>
    <%- include('../partials/menu') %>

    <h1>These are</h1>
    <ul class="services-list">
        <li>
            <h3>Back-end</h3>
            <p>
                .NET, NodeJS

                Also VB, but who cares.
            </p>
        </li>
        <li>
            <h3>

            </h3>
        </li>
    </ul>

    <%- include('../partials/footer') %>
</div>
</body>
</html>
